.input-right{
	float: right !important;
	width: 51% !important;
}

.input-left{
	float: left;
	width: 48% !important;
}

.lbl-left{
	float: left;
	width: 50%;
}

.lbl-second-line{
	width: 1%;
}
